* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'arial !important';
}

body {
  width: 100%;
  background-color: black;
}

main {
  padding: 0 20px 80px 20px;
  max-width: 1200px;
  min-height: calc(100vh - 180px);
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}
